#paneINI{
    /*-fx-background-image: url('background.jpg');*/
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#passwordField{

}
.nursseryButton:hover{
    -fx-background-color: #B0D3F0;
}

.leftPannel{
    -fx-background-color: #282829;
}

.mainPanel{
    -fx-background-color: #3c3f41;

}
.mainBar {
    -fx-background-color: #3c3f41;

}

.mainBar .label {
    -fx-text-fill: aliceblue;
 }

.mainBar .label .menu-item {
    -fx-text-fill: aliceblue;
    -fx-background-color: #2b2b2b;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #2b2b2b;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.areaContext{
    -fx-background-color: #2b2b2b;

}

.foenixButton{
    -fx-background-color: #2b2b2b;

}


